@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}
body{
    background-color: #c5d2d3;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
}
.dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 500px;
    width: 600px;
    background-color: #a1b0be;
    box-shadow: 1px 1px 5px #00000091;
}
h1{
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: lighter;
}
#btn{
    width: 100px;
}
select{
    margin-top: 30px;
    width: 90%;
    margin: 30px;
}